<div class="row">
  <% @orders.each do |order| %>
    <div class="col-sm order_desc">
      <h1>Order # <%= order.id %>:<%= link_to order.product.name, order %></h1>
      <%= image_tag(order.product.image_url, id: "prod_img") if order.product.image_url %>
      <p><%= order.product.description %></p>
      <p>$ <%= order.product.price %></p>
    </div><!-- /col -->
  <% end %>
</div>
