<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "text"  %>
    <%= form.text_field :name, class: "field" %>
  </div>

  <div class="field">
    <%= form.label :description, class: "text" %>
    <%= form.text_area :desription, class: "field" %>
  </div>

  <div class="field">
    <%= form.label :image_url, class: "text" %>
    <%= form.text_field :image_url, class: "field" %>
  </div>

  <div class="field">
    <%= form.label :color, class: "text" %>
    <%= form.text_field :color, class: "field" %>
  </div>

  <div class="field">
    <%= form.label :price, class: "text" %>
    <%= form.text_field :price, class: "field" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
