  <div class="col-md-4 col-xs-12" id="prod_img">
    <a href="products/<%= product.id %>"><%= image_tag(product.image_url, class: "img-responsive", id: "img_size") if product.image_url %></a>
    <a href="products/<%= product.id %>"><h3><%= product.name  %></h3></a>
    <h4><%= product.description %></h4>
    <h5>$<%= product.price %></h5>
  </div><!-- /col -->
