<p id="notice"><%= notice %></p>

<p>
  <%= @product.name %>
</p>

<p>
  <%= @product.description %>
</p>

<p>
  <%= image_tag(@product.image_url, class: "img-responsive", id: "img_size") %>
</p>

<p>
  <%= @product.color %>
</p>

<p>
  <%= @product.price %>
</p>

<p>
  <%= @product.highest_rating_comment %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
