<div class="container">
  <div class="show col-sm">
    <p id="notice"><%= notice %></p>

    <h1>
      <%= @product.name %>
    </h1>

    <h2>
      <%= @product.description %>
    </h2>

    <h2>
      <%= number_to_currency(@product.price) %>
    </h2>

    <h2>
      <%= image_tag(@product.image_url, class: "show_center zoom_01", data_zoom_image:("@product.image_url") ) %>
    </h2>

<!--   hi <h2 class="ratings">
      Highest Rating:<%= @product.highest_rating_comment %>
    </h2>

    <h2>
      Lowest Rating:<%= @product.lowest_rating_comment %>
    </h2> -->
    <% if !signed_in? %>
    <p><%= link_to('Login', new_user_session_path, class: "nav-link") %> to post a review!</p>
    <% end %>
    <div class="btn btn-default">
      <%= link_to 'Back', products_path %>
    </div>
  </div> <!-- end show -->
  <div class="col-md-12 col-xs-12" id="comment_make">
    <%= render 'new_comment' %>
    <%= form_with(url: '/payments/create') do |form| %>
    <%= render partial: "partials/stripe_checkout_button" %>
    <% end %>
    <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
    <%= render 'comments' %>
    <%= will_paginate @comments %>
  </div> <!-- end new_comment -->
</div> <!-- end container -->
