<div class="container">
  <div class="show col-sm">
    <p id="notice"><%= notice %></p>

    <h1>
      <%= @product.name %>
    </h1>

    <h2>
      <%= @product.description %>
    </h2>

    <h2>
      <%= image_tag(@product.image_url, class: "show_center") %>
    </h2>

    <h2>
      <%= @product.color %>
    </h2>

    <h2>
      <%= @product.price %>
    </h2>

    <h2>
      Highest Rating:<%= @product.highest_rating_comment %>
    </h2>

    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </div> <!-- end show -->
</div> <!-- end container -->
